body {
    background-image:'Images/Animated_Background.gif';
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;  
}
