.background-home {
    background-image:url('Images/Animated_Background.gif');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;
}


.center, .center-column, .top, .right, .bottom, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 1024px) {
    .mobile{
        display : none;
    }
}

.anim {
    transform: rotate(180deg);
    animation: 15s infinite;
}
.main{
    margin-top: 32%;
}

hr {
     border: 0;
     clear:both;
     display:block;
     width: 96%;
     background-color:#000000;
     height: 1px;
 }

.spaced{
    margin: 10px 0;
}

.background-main {
    background: url(Images/TheTeam.png) center / cover;
    /*position: fixed;*/
    background-attachment: fixed;
    z-index: 3;
}

.background-main-main {
    background: url(Images/Main_Background.png) center / cover;
    /*position: fixed;*/
    background-attachment: fixed;
    z-index: 3;
}


.header{
    top : 0px;
    position : fixed;
    width : 100%;
    z-index: 2;
}


.notification {
    opacity : 0.90;
    z-index: 1;
}


.tab {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    object-fit: contain;
}


.is-paddingless-horizontal { padding-left: 0; padding-right: 0; }

.gridleft {
    display: grid;
    grid-template-columns:
            5% [main-start] 50% [main-end] 5% [image-start] 1fr [image-end] 5%;
}

.gridright {
    display: grid;
    grid-template-columns:
            5% [image-start] 1fr [image-end] 5% [main-start] 50% [main-end] 5%;
}


.gridleft *  { grid-column: main; }
.gridleft-image { grid-column: image; }


.gridright *  { grid-column: main; }
.gridright-image { grid-column: image; }